@model EducationalPlatform.Models.ForumTopic

@{
    ViewBag.Title = "Index";
}

<!-- Start Banner Area -->
<section class="banner-area relative">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Forum Topics
                </h1>
                <p>
                    Do you have a question? Open a topic bellow.
                </p>
                <div class="link-nav">
                    <span class="box">
                        <a href="@Url.Action("Index", "Codebases")"> Codebases </a>
                        <i class="lnr lnr-arrow-right"></i>
                        <a href="@Url.Action("Show", "Codebases", new { Id = Model.Id} )"> Alien Invasion</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="rocket-img">
        <img src="~/Content/Images/rocket.png" alt="">
    </div>
</section>
<!-- End Banner Area -->

<section class="feature-area section">
    <div class="container shrink codebase-step">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1>Topics for "@Model.Codebase.CodebaseName"</h1>
                    <hr>
                </div>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-11">
                @foreach (EducationalPlatform.Models.ForumTopic topic in ViewBag.ForumTopics)
                {
                <a href="@Url.Action("Index", "ForumResponse", new { TopicId = topic.Id })" style="text-decoration: none; color:inherit;">
                    <div class="d-flex justify-content-between pb-20 pt-20 mb-10 pl-5 pr-5" style="background-color:#F0F8FF;">
                        <h6> @topic.Description </h6><p>  </p> by @topic.User.FullName, @topic.CreationDate
                    </div>
                </a>
                }
            </div>
        </div>
        @Html.Partial("_New", Model)
    </div>
</section>
