@model EducationalPlatform.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<!--

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

-->


@section AddToHead {
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
    <link rel="shortcut icon" href="~/Content/assets/images/fav.jpg">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css" />
}

<div class="container-fluid">
    <div class="container">
        <div class="col-xl-10 col-lg-11 login-container">
            <div class="row">
                <div class="col-lg-7 img-box">
                    <img src="~/Content/assets/images/login-banner.png" alt="">
                </div>
                <div class="col-lg-5 no-padding">
                    <div class="login-box">
                        <h5>Glad to have you here!</h5>
                        @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="login-row row no-margin">
                                <i class="fas fa-user"></i> <label for="" class="form-label-fullname"> Full Name </label>
                                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control form-control-sm form-textbox-fullname" })
                                @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                            </div>
                            <div class="login-row row no-margin">
                                <i class="fas fa-envelope"></i> <label for="" class="form-label-email"> Email Address </label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-sm form-textbox-email" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="login-row row no-margin">
                                <i class="fas fa-unlock-alt"></i><label for="" class="form-label-psw"> Password </label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-sm form-textbox-psw" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="login-row row forrr no-margin">
                                <i class="fas fa-unlock-alt"></i><label for="" class="form-label-repsw"> Confirm Password </label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-sm form-textbox-repsw" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <br /><br />
                            <p> Choose your profile: </p>
                            @Html.LabelFor(m => m.AccountType, "", new { @class = "col-md-2 control-label" })
                            <div class="form-group form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" value="Instructor" name="AccountType" onclick="showCompetenceTextBox()">Instructor
                                </label>
                            </div>
                            <div class="form-group form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" value="Learner" name="AccountType" onclick="hideCompetenceTextBox()">Learner
                                </label>
                            </div>
                            <div class="competence">
                                <a  data-toggle="tooltip" title="You need to have the right experience" style="cursor: help;">
                                    <i class="fas fa-certificate"></i><label for="" class="form-label-qualification"> Qualification/Competence </label> 
                                    <span class="" style="font-size:12px; color:cornflowerblue;">(?)</span>
                                </a>
                                @Html.TextBoxFor(m => m.Qualification, new { @class = "form-textbox-qualification" })
                            </div>
                            <div class="login-row btnroo row no-margin">
                                <button type="submit" value="Register" class="btn btn-primary btn-sm"> Register </button>
                                <!-- <button class="btn btn-light  btn-sm">  @Html.ActionLink("Login", "Login")</button> -->
                            </div>
                            <div class="login-row donroo row no-margin">
                                <p>You already have an account ?  @Html.ActionLink("Sign in", "Login")</p>
                            </div>
                        }

                        <p style="font-size:10px;">Designed by <a href="https://www.smarteyeapps.com/">www.smarteyeapps.com</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
    <script src="~/Content/assets/js/script.js"></script>
}
