@model EducationalPlatform.Models.IndexViewModel
@{
    ViewBag.Title = "My Profile";
}
@ViewBag.Test
<!-- Start Banner Area -->
<section class="banner-area relative">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    @ViewBag.Title
                </h1>
                <p>
                    Change your profile settings
                </p>
                <div class="link-nav">
                    <span class="box">
                        <a href="@Url.Action("Index", "Home")"> Home </a>
                        <i class="lnr lnr-arrow-right"></i>
                        <a href="@Url.Action("Index", "Codebases")">My Profile</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="rocket-img">
        <img src="~/Content/Images/rocket.png" alt="">
    </div>
</section>
<!-- End Banner Area -->


<section class="feature-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <p class="text-success">@ViewBag.StatusMessage</p>
                <div>
                    <h4> Change Profile details</h4>
                    <hr />
                    @Html.Action("UpdateUser", "Manage")
                    <dl class="dl-horizontal">
                        <dd>
                            @if (Model.HasPassword)
                            {
                                <h4>Change Account Password: </h4>
                                <hr>
                                @Html.ActionLink(" [Access Password] ", "ChangePassword")
                            }
                            else
                            {
                                @Html.ActionLink("Create", "SetPassword")
                            }
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-100">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-8">
                <h4>Your uploaded Codebases</h4>
                <hr />
            </div>
        </div>
        <div class="feature-inner row justify-content-center mt-20">
            @if (ViewBag.UserCodebases == null || ViewBag.UserCodebasesNumber == 0)
            {
                <h5> You do not have any codebases uploaded yet!</h5>
            }
            else
            {
                foreach (EducationalPlatform.Models.Codebases codebase in ViewBag.UserCodebases)
                {
                    <div class="col-lg-6 col-md-6">
                        <a href="" class="codebase-box">
                            <div class="feature-item">
                                <h4 style="display:inline-block;">@codebase.CodebaseName</h4>
                                @if (codebase.SelectedDifficulty == EducationalPlatform.Models.Difficulty.Easy)
                                {
                                    <span class="codebase-difficulty level-easy"> @codebase.SelectedDifficulty </span>
                                }
                                else if (codebase.SelectedDifficulty == EducationalPlatform.Models.Difficulty.Medium)
                                {
                                    <span class="codebase-difficulty level-medium"> @codebase.SelectedDifficulty </span>
                                }
                                else if (codebase.SelectedDifficulty == EducationalPlatform.Models.Difficulty.Hard)
                                {
                                    <span class="codebase-difficulty level-hard"> @codebase.SelectedDifficulty </span>
                                }
                                <h5 class="wow fadeInRight" style="display:inline-block; float:right;">@codebase.SelectedProgrammingLanguage, @codebase.SelectedTechnology App</h5>
                                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                                    <p class="description">
                                        @codebase.Description
                                    </p>
                                </div>
                                <br>
                                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                                    <span class=""> Instructor: @codebase.User.FullName</span>
                                    <span class="vertical-line"></span>
                                    <span class=""> Qualification: @codebase.User.Qualification</span>
                                    <span class="vertical-line"></span>
                                    <span class=""> Project Limit: @codebase.TimeLimit hours</span>
                                    <hr>
                                </div>
                                <div class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                                    @if (codebase.Tags != null)
                                    {
                                        foreach (string tag in codebase.Tags.Split(','))
                                        {
                                            <span class="codebase-topics">@tag</span>
                                        }
                                    }
                                </div>
                                <br>
                                <div class="overflow-hidden">
                                    <form method="post" style="display:inline" action="/Codebases/Delete/@codebase.Id" class="float-left">
                                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                                        <button class="genric-btn danger" role="button" type="submit">Delete</button>
                                    </form>
                                    @Html.ActionLink("Edit", "Edit", "Codebases", new { Id = codebase.Id }, new { @class = "genric-btn info float-right" })
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</section>