@model EducationalPlatform.Models.Codebases

@{
    ViewBag.Title = "Codebases";
}

@ViewBag.Test

<!-- Start Banner Area -->
<section class="banner-area relative">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Codebases
                </h1>
                <p>
                    Extend your knowledge starting from pre-build projects.
                </p>
                <div class="link-nav">
                    <span class="box">
                        <a href="@Url.Action("Index", "Home")"> Home </a>
                        <i class="lnr lnr-arrow-right"></i>
                        <a href="@Url.Action("Index", "Codebases")">Codebases</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="rocket-img">
        <img src="~/Content/Images/rocket.png" alt="">
    </div>
</section>
<!-- End Banner Area -->

<!--Start Selection & Codebase Render Area -->
<section class="feature-area ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1>Discover, Search and Improve your Skills</h1>
                    <p>
                        Try to find out the best codebase that suits for you. Take a look at specifications, filter after your preferences and come back for more!
                        You will find all the support you need. Have fun!
                    </p>
                </div>
            </div>
        </div>
        <div class="codebase-category-wrapper category-section">
            <div class="">
                <form method="post" action="@Url.Action("Index", "Codebases", new { pagination = ViewBag.ActivePage })">
                    <div class="codebase-category dropdowns">
                        <div class="default-select codebase-category" id="default-select">
                            @Html.DropDownListFor(m => m.SelectedProgrammingLanguage, new SelectList(Enum.GetValues(typeof(EducationalPlatform.Models.Language))), "Select Language", new { @class = "" })
                        </div>
                        <div class="default-select codebase-category" id="default-select">
                            @Html.DropDownListFor(m => m.SelectedDifficulty, new SelectList(Enum.GetValues(typeof(EducationalPlatform.Models.Difficulty))), "Select Difficulty", new { @class = "" })
                        </div>
                        <div class="default-select codebase-category" id="default-select">
                            @Html.DropDownListFor(m => m.SelectedTechnology, new SelectList(Enum.GetValues(typeof(EducationalPlatform.Models.Technology))), "Select Technology", new { @class = "" })
                        </div>
                    </div>
                    <div class="category-filters overflow-hidden d-inline">
                        <button type="submit" class="genric-btn primary" style=" vertical-align:top;">Apply Filter</button>
                        <a type="submit" class="genric-btn primary-border" style="vertical-align:top;" href="/Codebases/Index">Clear Filters</a>
                    </div>
                </form>
            </div>
            <div class="input-wrap codebase-category right overflow-hidden">
                <form method="post" action="@Url.Action("Index", "Codebases")" class="form-box search-box d-flex justify-content-between">
                    <input type="text" placeholder="Search by codebase's or instructor's name" class="form-control codebase-search" name="search" size="35">
                    <button type="submit" class="genric-btn primary">Search</button>
                </form>
            </div>
        </div>
        <div class="feature-inner row">
            @if (ViewBag.CodebasesPages == 0) {
                <div class="section-title justify-content-center">
                    <h3 class="ml-50">"No codebases added yet!"</h3>
                </div>
            }
            @foreach (EducationalPlatform.Models.Codebases codebase in ViewBag.Codebases)
            {
                <div class="col-lg-6 col-md-6 ">
                    <a href="@Url.Action("Show", "Codebases", new { Id = codebase.Id} )" class="codebase-box">
                        <div class="feature-item">
                            <h4 style="display:inline-block;">@codebase.CodebaseName</h4>
                            @if (codebase.SelectedDifficulty == EducationalPlatform.Models.Difficulty.Easy)
                            {
                                <span class="codebase-difficulty level-easy"> @codebase.SelectedDifficulty </span>
                            }
                            else if (codebase.SelectedDifficulty == EducationalPlatform.Models.Difficulty.Medium)
                            {
                                <span class="codebase-difficulty level-medium"> @codebase.SelectedDifficulty </span>
                            }
                            else if (codebase.SelectedDifficulty == EducationalPlatform.Models.Difficulty.Hard)
                            {
                                <span class="codebase-difficulty level-hard"> @codebase.SelectedDifficulty </span>
                            }
                            <h5 class="wow fadeInRight" style="display:inline-block; float:right;">@codebase.SelectedProgrammingLanguage, @codebase.SelectedTechnology App</h5>
                            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                                <p class="description">
                                    @codebase.Description
                                </p>
                            </div>
                            <br>
                            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                                <span class=""> Instructor: @codebase.User.FullName</span>
                                <span class="vertical-line"></span>
                                <span class=""> Qualification: @codebase.User.Qualification</span>
                                <span class="vertical-line"></span>
                                <span class=""> Project Limit: @codebase.TimeLimit hours</span>
                                <hr>
                            </div>
                            <div class="wow fadeInLeft d-flex justify-content-between" data-wow-duration="1s" data-wow-delay=".1s">
                                <div>
                                    @if (codebase.Tags != null)
                                    {
                                        foreach (string tag in codebase.Tags.Split(','))
                                        {
                                            <span class="codebase-topics">@tag</span>
                                        }
                                    }
                                </div>
                                <div style="color:#DAA520">
                                    @if (codebase.MeanRating != 0)
                                    {
                                        <text>Rating:</text>  @codebase.MeanRating <text>/5</text>
                                    }
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<!-- End Selection & Codebase Render Area -->

<!-- Start Pagination Area  -->
<nav class="blog-pagination justify-content-center d-flex">
    <ul class="pagination">
        @if(ViewBag.LeftArrow)
        { 
            <li class="page-item">
                <a href="@Url.Action("Index", "Codebases", new { pagination = ViewBag.ActivePage - 1 })" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">
                        <span class="lnr lnr-chevron-left"></span>
                    </span>
                </a>
            </li>
        }
        @for (int i = 1; i <= ViewBag.CodebasesPages; i++)
        {
            if (i == ViewBag.ActivePage)
            {
                <li class="page-item active"><a href="@Url.Action("Index", "Codebases", new { pagination = i })" class="page-link">@i</a></li>
            }
            else
            {
                <li class="page-item"><a href="@Url.Action("Index", "Codebases", new { pagination = i })" class="page-link">@i</a></li>
            }
        }
        @if(ViewBag.RightArrow)
        {
            <li class="page-item">
                <a href="@Url.Action("Index", "Codebases", new { pagination = ViewBag.ActivePage + 1 })" class="page-link" aria-label="Next">
                    <span aria-hidden="true">
                        <span class="lnr lnr-chevron-right"></span>
                    </span>
                </a>
            </li>
        }
    </ul>
</nav>
<!-- End Pagination Area  -->

<!-- ####################### Start Scroll to Top Area ####################### -->
<div id="back-top">
    <a title="Go to Top" href="#"></a>
</div>
<!-- ####################### End Scroll to Top Area ####################### -->
