@model EducationalPlatform.Models.Codebases
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "New";
}

<!-- Start Banner Area -->
<section class="banner-area relative">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    New Codebase
                </h1>
                <p>
                    Improve learners skills starting from prebuilt projects.
                </p>
                <div class="link-nav">
                    <span class="box">
                        <a href="@Url.Action("Index", "Codebases")"> Codebases </a>
                        <i class="lnr lnr-arrow-right"></i>
                        <a href="@Url.Action("New", "Codebase")">New Codebase</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="rocket-img">
        <img src="~/Content/Images/rocket.png" alt="">
    </div>
</section>
<!-- End Banner Area -->
<!-- Start About Area -->
<section class="mt-100 feature-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" col-lg-8 col-md-8 justify-content-center">
                <div class="section-title text-center">
                    <h3>
                        <i class="fas fa-info-circle mr-10"></i>
                        Add the codebase information in order to be saved and categorised among the others.
                    </h3>
                    <h6 class="mt-20">  (You need to have the Task Sheet already created in Google Forms. For more information access: @Html.ActionLink("Instructor Training", "Instructions", "Codebases") page )</h6>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
<!-- Start Add New Codebase Area -->
<section class="mb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="codebase-step codebase-category-wrapper col-lg-8 col-md-8 justify-content-center">
                <form method="post" action="/Codebases/New" enctype='multipart/form-data'>
                    @Html.HiddenFor(m => m.UserId)
                    <div class="mt-50 mb-50 ">
                        <h5 class="mb-10"> Presentation</h5>
                        <div class="mt-10">
                            @Html.TextBox("CodebaseName", null, new { @class = "single-input-primary", @placeholder = "Codebase Name", style = "width: 600px;" })
                            @Html.ValidationMessageFor(model => model.CodebaseName, null, new { @class = "text-danger " })
                        </div>
                        <div class="mt-10 overflow-hidden">
                            @Html.TextArea("Description", null, new { @class = "single-textarea", @placeholder = "Description" })
                            @Html.ValidationMessageFor(model => model.Description, null, new { @class = "text-danger" })

                            <div class="tooltip">
                                (?)dsad
                                <span class="tooltiptext">Tooltip text</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-50 mb-70 ">
                        <h5 class="mb-10"> Your Codebase (link or zip)</h5>
                        <div class="mt-10">
                            @Html.TextBox("CodebaseLink", null, new { @class = "single-input-primary", @placeholder = "Link for the Codebase" })
                            @Html.ValidationMessageFor(model => model.CodebaseLink, null, new { @class = "text-danger " })
                        </div>
                        <div class="text-center">OR</div>
                        <div class="mt-10">
                            <input type="file" class="btn-default" name="CodebaseFile">
                        </div>
                    </div>

                    <div class="mt-50 mb-70 ">
                        <h5 class="mb-10"> Provide Task Sheet </h5>
                        <div class="mt-10">
                            @Html.TextBox("GoogleFormsLink", null, new { @class = "single-input-primary", @placeholder = "Link for Google Forms" })
                            @Html.ValidationMessageFor(model => model.GoogleFormsLink, null, new { @class = "text-danger" })
                        </div>
                        <div class="text-center">OR</div>
                        <div class="mt-10">
                            @Html.TextBox("GoogleFormsEmbedded", null, new { @class = "single-input-primary", @placeholder = "Embed Google Forms" })
                            @Html.ValidationMessageFor(model => model.GoogleFormsEmbedded, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="mt-50 mb-70">
                        <h5 class="mb-20"> Implementation Details </h5>
                        <div class="mt-10">
                            @Html.TextBox("Role", null, new { @class = "single-input-primary", @placeholder = "Learner's Role/ Mission" })
                            @Html.ValidationMessageFor(model => model.Role, null, new { @class = "text-danger " })
                        </div>

                        <div class="mt-10">
                            <div class="d-flex justify-content-between">
                                <div class="mr-20 ml-20">
                                    @Html.Label("Contributors")
                                </div>
                                @Html.TextBox("Members", null, new { @class = "single-input-primary", @placeholder = "Members", @type = "number", @min = "1", style = "width: 200px;" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Members, null, new { @class = "text-danger" })
                        </div>

                        <div class="mt-10">
                            @Html.TextBox("Environment", null, new { @class = "single-input-primary", @placeholder = "Project Environment/IDE" })
                            @Html.ValidationMessageFor(model => model.Environment, null, new { @class = "text-danger" })
                        </div>
                        <div class="mt-10">
                            <div class="d-flex justify-content-between">
                                <div class="mr-20 ml-20">
                                    @Html.Label("Technology")
                                </div>
                                <div class="default-select" id="default-select">
                                    @Html.DropDownListFor(m => m.SelectedTechnology, new SelectList(Enum.GetValues(typeof(EducationalPlatform.Models.Technology))), new { style = "width: 200px;" })
                                </div>
                            </div>
                        </div>
                        <div class="mt-10">
                            <div class="d-flex justify-content-between">
                                <div class="mr-20 ml-20">
                                    @Html.Label("Difficulty")
                                </div>
                                <div class="default-select mr-1" id="default-select">
                                    @Html.DropDownListFor(m => m.SelectedDifficulty, new SelectList(Enum.GetValues(typeof(EducationalPlatform.Models.Difficulty))), new { @style = "width:200px;" })
                                </div>
                            </div>
                        </div>
                        <div class="mt-10">
                            <div class="d-flex justify-content-between">
                                <div class="mr-20 ml-20">
                                    @Html.Label("Programming Language")
                                </div>
                                <div class="default-select mr-1" id="default-select">
                                    @Html.DropDownListFor(m => m.SelectedProgrammingLanguage, new SelectList(Enum.GetValues(typeof(EducationalPlatform.Models.Language))))
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-50 mb-70">
                        <h5 class="mb-20"> Constraints </h5>
                        <div class="mt-10">
                            <div class="d-flex justify-content-between">
                                <div class="mr-20 ml-20">
                                    @Html.Label("Sprints")
                                </div>
                                @Html.TextBox("Sprints", null, new { @class = "single-input-primary", @placeholder = "Sprints", @type = "number", @min = "1", style = "width: 200px;" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Sprints, null, new { @class = "text-danger" })
                        </div>
                        <div class="mt-10">
                            <div class="d-flex justify-content-between">
                                <div class="mr-20 ml-20">
                                    @Html.Label("Time Limit (Hours)")
                                </div>
                                @Html.TextBox("TimeLimit", null, new { @class = "single-input-primary", @placeholder = "Hours", @type = "number", @min = "1", style = "width: 200px;" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Members, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="mt-50 mb-70">
                        <h5 class="mb-10"> Tags</h5> <p>(Important Features/Learning Outcomes)</p>
                        <div class="mt-10">
                            @Html.TextArea("Tags", null, new { @class = "single-textarea tags", @id = "tags_1", @type = "text", @placeholder = "Tags" })
                            <!--<input id="tags_1" type="text" class="tags single-textarea tags" name="topics" value="" />-->
                        </div>
                    </div>
                    <div class="mt-50 mb-70">
                        <h5 class="mb-10"> Model Answers</h5> <p>(or you can use google form)</p>
                        <div class="mt-10">
                            <input type="file" class="btn-default" name="ModelAnswersFile">
                        </div>
                    </div>
                    <button class="genric-btn primary float-right" type="submit">Add Codebase</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Add New Codebase Area -->


@section scripts{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- To test using the original jQuery.autocomplete, uncomment the following -->
    <!--
    <script type='text/javascript' src='http://xoxco.com/x/tagsinput/jquery-autocomplete/jquery.autocomplete.min.js'></script>
    <link rel="stylesheet" type="text/css" href="http://xoxco.com/x/tagsinput/jquery-autocomplete/jquery.autocomplete.css" />
    -->
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>
    <script type='text/javascript' src="~/Scripts/js/manipulate-tags.js"></script>
}
